*.bak
*.iml
*.ipr
*.iws
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
.apt_generated
.apt_generated/
.apt_generated_test/
.autotools
.buildpath
.cache-main
.classpath
.cproject
.externalToolBuilders/
.factorypath
.idea
.loadpath
.metadata
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project
.recommenders
.recommenders/
.scala_dependencies
.settings
.settings/
.springBeans
.sts4-cache
.target
.tern-project
.texlipse
.vscode/
.worksheet
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
HELP.md
bin/
build/
buildNumber.properties
dependency-reduced-pom.xml
local.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
tmp/
